<% provide(:title,"BookMark Website Homepage") %>
<div class="center hero-unit">
  <h1>BookMark Website</h1>

  <h2>
    This is the home page for the bookmark sharing
  </h2>

  <%= link_to "Sign up now", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "sign in", signin_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("bookmark.jpg", alt: "Rails"), 'http://en.wikipedia.org/wiki/Bookmark' %>
